<?xml version="1.0" encoding="UTF-8"?>
<suite name="Zalando Tests" parallel="methods" thread-count="2">
   <parameter name="suiteName" value="PDS Idle time max test"/>   
    <test name="FirefoxTests" preserve-order="true">
  <classes>	 	 
  <class name="com.testcases.StatusCodeTestCase"/>
  </classes>
</test>
</suite>